<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
   
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>   
            <a class="brand" href="#"><i class="icon-home icon-white"></i> StarWars</a>
    
            <div class="nav-collapse collapse" style="height: 0px;">
                <ul class="nav">
                    <li>
                        <a href="#people"><i class="icon-user icon-white"></i> People</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#films"><i class="icon-film icon-white"></i> Films</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#planets"><i class="icon-globe icon-white"></i> Planets</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#vehicles"><i class="icon-road icon-white"></i> Vehicles</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#starships"><i class="icon-plane icon-white"></i> Starships</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#species"><i class="icon-th-list icon-white"></i> Species</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>